---
layout: project
title: "Check-in Host"
target_id: "check-in-host"
---

{% for project in site.data.projectSpecs %}
	{% if project.id == page.target_id %}
		<div class="check-in-host">

			<img class="main_image {{ project.mainImage }}" src="/static/images/{{ project.mainImage }}">
			<div class="tech">
				<h3>Technologies Used</h3>
					{% for tool in project.tools %}
						<h5>- {{ tool }}</h5>
					{% endfor %}
			</div>
			<div class="description">
				<h3>Description</h2>
				<p>{{ project.description }}</p>
			</div>

			<div class="additionalImages">

			</div>

			<div class="github">
				<h3>GitHub</h3>
				<a href="project.github"><img src="/static/images/github.png"></a>
			</div>

		</div>
	{% endif %}
{% endfor %}