@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
	background-color: white;
}

/*.navbar-brand,
.navbar-nav li a {
	line-height: 50px;
	height: 50px;
	padding-top: 0;
}*/

body {
	padding-top: 50px;
}

.navbar {
	background: rgb(255,255,255);
	/*background: rgba(255,255,255,.5);*/
	border-bottom: rgb(255,255,255);
	/*border-bottom: rgba(255,255,255,.5);*/
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.projects {
	text-align: center;
}

.projects h1 {
	font-family: "Open Sans";
	font-size: 40px;
	color: rgb(160,160,160);
	margin-right: 711px;
}

.projects .project_image {
	width: 1000px;
}

.project {
	margin-top: 100px;
	position: relative;
}

.project-description {
	display: inline-block;
	font-family: "Palatino Linotype";
	text-align: center;
	/*left: 710px;*/
	/*left: 42%;*/
	top: 500px;
	position: absolute;
}

.project-description ul {
	list-style-type: none;
}