@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

html {
	min-width: 1000px;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-color: white;
}

/*.navbar-brand,
.navbar-nav li a {
	line-height: 50px;
	height: 50px;
	padding-top: 0;
}*/

body {
	padding-top: 64px;
	max-width: 100%;
	overflow-x: hidden;
}

.navbar {
	background: rgb(255,255,255);
	/*background: rgba(255,255,255,.5);*/
	border-bottom: rgb(255,255,255);
	/*border-bottom: rgba(255,255,255,.5);*/
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



/* Projects Page */
/***************************/
.projects {
	text-align: center;
}

.projects h1 {
	font-family: "Open Sans";
	font-size: 40px;
	color: rgb(160,160,160);
	/*margin-right: 711px;*/
}

.projects .project_splash {
	max-width: 1000px;
}

.check-in-host .project_splash {
	max-width: 300px;
}

.project {
	margin-top: 100px;
	position: relative;
}

#head #title {
	text-align: center;
	font-family: "Open Sans";
	font-size: 40px;
	/*margin-right: 712px;*/
	padding: 0;
}
/***************************/



/*Music*/
/***************************/
.video_list ul {
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 100 0 0 0;
}

.video_list li {
	margin-bottom: 25px;
}
/***************************/



/*Marauder's Map*/
/***************************/
.maraudersmap {
	text-align: center;
	/*position: absolute;*/
	/*left: 20%;*/
}

.maraudersmap .main_image {
	max-width: 1000px;
}

.maraudersmap .tech {
	/*position: absolute;*/
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	font-family: "Open Sans";
	border-style: solid;
	margin-top: 65px;
	padding: 0 10px 10px 10px;
	/*display: inline-block;*/
}

.maraudersmap .tech h3 {
	font-size: 30px;
}

.maraudersmap .tech h5 {
	text-align: left;
	position: relative;
	left: 10px;
}

.maraudersmap .description h3 {
	margin-top: 70px;
	font-family: "Open Sans";
	font-size: 30px;
}

.maraudersmap .description p {
	font-family: "Open Sans";
	max-width: 1000px;
	text-align: left;
	display: inline-block;
}

.maraudersmap .github h3 {
	margin-top: 35px;
	font-family: "Open Sans";
	font-size: 30px;
}

.maraudersmap .github img {
	margin-top: 5px;
	margin-bottom: 50px;
	width: 100px;
}
/***************************/



/* Check-in Host */
/***************************/
.check-in-host {
	text-align: center;
	/*position: absolute;*/
	/*left: 20%;*/
}

.check-in-host .main_image {
	max-width: 300px;
}

.check-in-host .tech {
	/*position: absolute;*/
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	font-family: "Open Sans";
	border-style: solid;
	margin-top: 65px;
	padding: 0 10px 10px 10px;
	/*display: inline-block;*/
}

.check-in-host .tech h3 {
	font-size: 30px;
}

.check-in-host .tech h5 {
	text-align: left;
	position: relative;
	left: 10px;
}

.check-in-host .description h3 {
	margin-top: 70px;
	font-family: "Open Sans";
	font-size: 30px;
}

.check-in-host .description p {
	font-family: "Open Sans";
	max-width: 1000px;
	text-align: left;
	display: inline-block;
}

.check-in-host .github h3 {
	margin-top: 35px;
	font-family: "Open Sans";
	font-size: 30px;
}

.check-in-host .github img {
	margin-top: 5px;
	margin-bottom: 50px;
	width: 100px;
}
/***************************/