@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
	background-color: white;
}

.splash-content {
	text-align: center;
	margin-top: 22em;
}

.main-title h1 {
	font-size: 6em;
	font-family: "Open Sans";
	margin: auto;
	margin-bottom: .5em;
	border-style: solid;
	border-width: 4px;
	/*border-color: rgb(170,170,170);*/
	border-radius: 100;
	width: 8em;
	padding-bottom: 10px;
}

#projects img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

#projects:hover img {
    -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
    -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
    -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
    -o-transform:scale(1.75) rotate(90deg); /* Opera */
     transform:scale(1.75) rotate(90deg);
}

#about img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

#about:hover img {
    -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
    -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
    -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
    -o-transform:scale(1.75) rotate(90deg); /* Opera */
     transform:scale(1.75) rotate(90deg);
}

#contact img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

#contact:hover img {
    -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
    -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
    -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
    -o-transform:scale(1.75) rotate(90deg); /* Opera */
     transform:scale(1.75) rotate(90deg);
}

#resume img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

#resume:hover img {
    -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
    -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
    -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
    -o-transform:scale(1.75) rotate(90deg); /* Opera */
     transform:scale(1.75) rotate(90deg);
}

.splash-nav a {
	margin: 3em;
	position: relative;
}

.splash-nav label {
	position: absolute;
	width: 100px;
	text-align: center;
	top: 0;
	left: -100px;
	display: none;
	font-family: "Open Sans";
	font-size: 30px;
	color: rgb(120,120,120);
}

.splash-nav #projects label { left:-19px; }
.splash-nav #about label { left:-4px; }
.splash-nav #contact label { left:-15px; }
.splash-nav #resume label { left:-15px; }

.splash-nav a label {
	display: inline-block;
	opacity: 0;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-ms-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;
}

.splash-nav a:hover label {
	opacity: 1;
	top: 100px;
	left: 0px;
}

/*.nav-subtitles ul {
	margin-right: 2em;
}

.nav-subtitles ul li {
	display: inline;
	margin-right: 2.8em;
	margin-left: 2.8em;
	font-style: "Open Sans";
	color: rgb(150,150,150);
}*/