@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
	background-color: white;
}

.splash-content {
	text-align: center;
    position: absolute;
    top: calc(50% - 125px);
    min-width: 800px;
    left: calc(50% - 400px);
}

.main-title h1 {
	font-size: 6em;
	font-family: "Open Sans";
	margin: auto;
	margin-bottom: .5em;
	/*width: 8em;*/
    min-width: 8em;
	padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .main-title h1 {
        font-size: 3em;
    }
}

.main-title a {
	color: rgb(160,160,160);
	text-decoration: none;
}

#blog img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

#blog:active img {
    width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #blog:hover img {
        -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
        -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
        -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
        -o-transform:scale(1.75) rotate(90deg); /* Opera */
        transform:scale(1.75) rotate(90deg);
    }
}

#projects img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #projects:hover img {
        -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
        -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
        -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
        -o-transform:scale(1.75) rotate(90deg); /* Opera */
        transform:scale(1.75) rotate(90deg);
    }
}

#music img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #music:hover img {
        -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
        -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
        -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
        -o-transform:scale(1.75) rotate(90deg); /* Opera */
        transform:scale(1.75) rotate(90deg);
    }
}

#about img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #about:hover img {
        -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
        -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
        -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
        -o-transform:scale(1.75) rotate(90deg); /* Opera */
        transform:scale(1.75) rotate(90deg);
    }
}

#contact img {
	width: 80px;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #contact:hover img {
        -webkit-transform:scale(1.75) rotate(90deg); /* Safari and Chrome */
        -moz-transform:scale(1.75) rotate(90deg); /* Firefox */
        -ms-transform:scale(1.75) rotate(90deg); /* IE 9 */
        -o-transform:scale(1.75) rotate(90deg); /* Opera */
        transform:scale(1.75) rotate(90deg);
    }
}

.splash-nav a {
	margin: 2em;
	position: relative;
}

@media screen and (max-width: 768px) {
    .splash-nav a {
        margin: .1em;
    }
}

.splash-nav label {
	position: absolute;
	width: 100px;
	text-align: center;
	top: 100px;
	left: -100px;
	display: inline-block;
	font-family: "Open Sans";
	font-size: 30px;
	color: rgb(160,160,160);
}

.splash-nav #blog label { left:-1px; }
.splash-nav #projects label { left:-18px; }
.splash-nav #music label { left:-3px; }
.splash-nav #about label { left:-3px; }
.splash-nav #contact label { left: -16px;}

.splash-nav a label {
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.27s linear;
	-moz-transition: visibility 0s linear 0.5s, opacity 0.27s linear;
	-ms-transition: visibility 0s linear 0.5s, opacity 0.27s linear;
	-o-transition: visibility 0s linear 0.5s, opacity 0.27s linear;
	transition: visibility 0s linear 0.5s, opacity 0.27s linear;
    visibility: hidden;
	opacity: 0;
}

@media screen and (max-width: 480px) {
    .splash-nav a label {
        opacity: 1;
        visibility: visible;
        font-size: 20px;
    }

    .splash-nav #projects label {
        left: 0px;
    }

    .splash-nav #contact label {
        left: 0px;
    }
}

@media screen and (min-width: 480px) {
    .splash-nav a:hover label {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.27s linear, display 0s linear 0s;
        -moz-transition: opacity 0.27s linear, display 0s linear 0s;
        -ms-transition: opacity 0.27s linear, display 0s linear 0s;
        -o-transition: opacity 0.27s linear, display 0s linear 0s;
        transition: opacity 0.27s linear, display 0s linear 0s;
    }
}

.splash-nav span {
	position: absolute;
	color: black;
	font-size: 25px;
}

#blog span {
	left: 28px;
	top: -2px;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #blog:hover span {
        -webkit-transform:scale(1.75); /* Safari and Chrome */
        -moz-transform:scale(1.75); /* Firefox */
        -ms-transform:scale(1.75); /* IE 9 */
        -o-transform:scale(1.75); /* Opera */
        transform:scale(1.75);
    }
}

#projects span {
	left: 28px;
	top: -2px;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #projects:hover span {
        -webkit-transform:scale(1.75); /* Safari and Chrome */
        -moz-transform:scale(1.75); /* Firefox */
        -ms-transform:scale(1.75); /* IE 9 */
        -o-transform:scale(1.75); /* Opera */
        transform:scale(1.75);
    }
}

#music span {
	left: 27px;
	top: -2px;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #music:hover span {
        -webkit-transform:scale(1.75); /* Safari and Chrome */
        -moz-transform:scale(1.75); /* Firefox */
        -ms-transform:scale(1.75); /* IE 9 */
        -o-transform:scale(1.75); /* Opera */
        transform:scale(1.75);
    }
}

#about span {
	left: 28px;
	top: -2px;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #about:hover span {
        -webkit-transform:scale(1.75); /* Safari and Chrome */
        -moz-transform:scale(1.75); /* Firefox */
        -ms-transform:scale(1.75); /* IE 9 */
        -o-transform:scale(1.75); /* Opera */
        transform:scale(1.75);
    }
}

#contact span {
	left: 28px;
	top: -3px;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

@media screen and (min-width: 480px) {
    #contact:hover span {
        -webkit-transform:scale(1.75); /* Safari and Chrome */
        -moz-transform:scale(1.75); /* Firefox */
        -ms-transform:scale(1.75); /* IE 9 */
        -o-transform:scale(1.75); /* Opera */
        transform:scale(1.75);
    }
}